.container {
    position: relative;
    width:100%;
    min-width:1000px;
    height:auto;
}

html {
    scroll-behavior: smooth;
}

.img-Logo {
    width: 190px; 
    height: 55px;
    margin-top: 50px;
    margin-left: 9%; 
}

.menuHamburguer {
    width: 30px;
    height: 25px;
    margin-top: 0px; 
    margin-left: 1020px;
    margin-bottom: 25px; 
}

.imgMain {
    position: relative;
    width: 100%;
    height: 350px;
    margin-top: 3%;
}

.imgMainText {
    position: absolute;
    width: 585px;
    height: 130px;
    top: 400px;
    left: 200px;
}

.botaoSM {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 205px;
    margin-top: 65px;
}

.setaScroll {
    position: relative;
    width: 28px;
    height: 35px;
    margin-left: 735px;
    margin-top: 152px;
}

.seccaoRio {
    position: relative;
    width: 1100px;
    height: 470px;
    margin-left: 185px;
    margin-top: 400px;
}

.viajaPelas{
    position: relative;
    width: 800px;
    height: 70px;
    margin-left: 320px;
    margin-top: 350px;
}

.viajaFoto{
    position: relative;
    width: 750px;
    height: 450px;
    margin-left: 130px;
    margin-top: 25px;
}

.sideImageLeft{
    position: absolute;
    width: 150px;
    height: 370px;
    margin-top: 65px;
    margin-left: 130px;
}

.leftArrow{
    position: relative;
    width: 50px;
    height: 40px;
    margin-bottom: 200px;
    margin-left: 160px;
}

.sideImageRight{
    position: absolute;
    width: 150px;
    height: 370px;
    margin-top: 65px;
    margin-left: 65px;
}

.rightArrow{
    position: relative;
    width: 50px;
    height: 40px;
    margin-bottom: 200px;
    margin-left: 145px;
}

.botaoVM{
    width: 200px;
    height: 50px;
    margin-top: 35px;
    margin-left: 620px;
}

.seccaoLoja{
    width: 1100px;
    height: 470px;
    margin-left: 185px;
    margin-top: 400px;
}

.backToTop{
    position: relative;
    width: 75px; 
    height: 75px;
    margin-top: 200px;
    margin-left: 1210px;
    margin-bottom: -250px; 
}

.rectangleFooter{
    position: absolute;
    width: 1520px;
    height: 250px;
    margin-top: 350px;
    margin-left: -10px;
}

.quemSomosText{
    position: relative;
    width: 150px;
    height: 100px;
    margin-left: 150px;
    margin-top: 420px
}

.eventosText{
    position: relative;
    width: 120px;
    height: 74px;
    margin-left: 100px;
    margin-bottom: 25px;
}

.galeriaText{
    position: relative;
    width: 95px;
    height: 95px;
    margin-left: 85px;
    margin-bottom: 5px;
}

.lojaText{
    position: relative;
    width: 95px;
    height: 95px;
    margin-left: 85px;
    margin-bottom: 5px;
}

.contactosText{
    position: relative;
    width: 115px;
    height: 70px;
    margin-left: 85px;
    margin-bottom: 31px;
}

.segueText{
    position: relative;
    width: 120px;
    height: 95px;
    margin-left: 85px;
    margin-bottom: 8px;
}


body{
    font-family: Arial, Arial, Helvetica, sans-serif;
}

.dropdown{
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #115c92;
    overflow-y: hidden;
    transition: 0.5s;
}

.dropdown-lists{
    position: flex;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 0px;
}

.dropdown a{
    padding: 5px; 
    text-decoration: none;
    font-size: 50px;
    display: block;
    transition: 0.3s;
    top: 10px;
    color: #fff;
}

.dropdown-lists a:hover, .dropdown-lists a:focus {
    color: whitesmoke;
    zoom: 125%;
}

.hamburguer{
    position: relative;
    color: #115c92;
    margin-left: 1020px;
    top: -17px;
    font-size: 35px;
    cursor: pointer;
}

.dropdown .buttonX{
    margin-left: 89.1%;
    margin-top: 3.7%;
    position: flex;
    font-size: 45px;
    color: #fff;
}

@media screen and (max-height:600px) {
    .dropdown .buttonX {
        font-size: 220px;
    }
}

.img-WhiteLogo{
    position: relative;
    top: -60px;
    left: -522px;
    width: 190px; 
    height: 55px;
}

.menuText{
    position: relative;
    text-decoration: none;

}

.eventosMap{
    position: absolute;
    margin-top: 50px;
    width: 1510px;
    height: 425px;
}

.eventosOptions{
    position: relative;
    width: 560px;
    height: 423px; 
    margin-top: 52px;
    margin-bottom: 155px;
    margin-left: 195px;
}

.tituloEventoUm{
    position: relative;
    font-size: large;
    font-weight: bolder;
    color: #115c92;
    font-family: Arial, Helvetica, sans-serif;
    top: -560px;
    left: 230px;
}

.textoEventoUm{
    position: relative;
    font-size: 17px;
    color: #115c92;
    font-family: Arial, Helvetica, sans-serif;
    top: -570px;
    left: 230px;
}

.tituloEventoDois{
    position: relative;
    font-size: large;
    font-weight: bolder;
    color: #115c92;
    font-family: Arial, Helvetica, sans-serif;
    top: -520px;
    left: 230px;
}

.textoEventoDois{
    position: relative;
    font-size: 17px;
    color: #115c92;
    font-family: Arial, Helvetica, sans-serif;
    top: -530px;
    left: 230px;
}

.tituloEventoTres{
    position: relative;
    font-size: large;
    font-weight: bolder;
    color: #115c92;
    font-family: Arial, Helvetica, sans-serif;
    top: -480px;
    left: 230px;
}

.textoEventoTres{
    position: relative;
    font-size: 19px;
    color: #115c92;
    font-family: Arial, Helvetica, sans-serif;
    top: -490px;
    left: 230px;
}

.sugerirEvento{
    position: relative;
    width: 1100px;
    height: 470px;
    margin-left: 185px;
    margin-top: 0px;
}

.setaEventoUm{
    position: relative;
    width: 42px;
    height: 35px;
    top: -815px;
    margin-left: 670px;
}

.setaEventoDois{
    position: relative;
    width: 42px;
    height: 35px;
    top: -690px;
    left: -50px;
}

.setaEventoTres{
    position: relative;
    width: 42px;
    height: 35px;
    top: -560px;
    left: -100px;
}

.setaScrollEventos{
    position: relative;
    width: 28px;
    height: 35px;
    top: -430px;
    margin-left: 735px;
}

.eventoUmTitulo{
    position: relative;
    font-size: 35px;
    font-weight: bolder;
    color: #115c92;
    font-family: Arial, Helvetica, sans-serif;
    top: -580px;
    left: 230px;
}

.eventoUmInfoTitulo{
    position: relative;
    font-size: 21px;
    color: #115c92;
    font-family: Arial, Helvetica, sans-serif;
    top: -590px;
    left: 230px;
}

.eventoUmInfo{
    position: relative;
    font-size: 22px;
    color: #115c92;
    font-family: Arial;
    top: -575px;
    left: 230px;
    width: 500px;
}

.eventoDoisTitulo{
    position: relative;
    font-size: 35px;
    font-weight: bolder;
    color: #115c92;
    font-family: Arial, Helvetica, sans-serif;
    top: -580px;
    left: 230px;
}

.eventoDoisInfoTitulo{
    position: relative;
    font-size: 21px;
    color: #115c92;
    font-family: Arial, Helvetica, sans-serif;
    top: -590px;
    left: 230px;
}

.eventoDoisInfo{
    position: relative;
    font-size: 22px;
    color: #115c92;
    font-family: Arial;
    top: -575px;
    left: 230px;
}

.eventoTresTitulo{
    position: relative;
    font-size: 35px;
    font-weight: bolder;
    color: #115c92;
    font-family: Arial, Helvetica, sans-serif;
    top: -580px;
    left: 230px;
}

.eventoTresInfoTitulo{
    position: relative;
    font-size: 21px;
    color: #115c92;
    font-family: Arial, Helvetica, sans-serif;
    top: -590px;
    left: 230px;
}

.eventoTresInfo{
    position: relative;
    font-size: 22px;
    color: #115c92;
    font-family: Arial;
    top: -575px;
    left: 230px;
}

.contactosIMG{
    position: relative;
    width: 450px;
    height: 450px;
    margin-left: 870px;
    margin-top: 50px;
}

.textoContactos{
    position: relative;
    width: 500px;
    height: 115px;
    top: -415px;
    margin-left: 250px;
}

.infoContactos{
    position: relative;
    top: -375px;
    margin-left: 250px;
    color: #0f5d93;
    font-size: 25px;
}

.setaScrollContactos{
    position: relative;
    width: 28px;
    height: 35px;
    margin-left: 735px;
    top: -355px;
}

.textoContactar{
    position: relative;
    width: 500px;
    height: 110px;
    margin-left: 250px;
    top: -150px;
}

.formularioContacto{
    position: relative;
    width: 1000px;
    height: 335px;
    margin-left: 250px;
    top: -100px;
}

.botaoEnviar{
    position: relative;
    width: 200px;
    height: 50px;
    margin-left: 250px;
    top: -25px;
    margin-bottom: -10px;
}

.backToTopContactos{
    position: relative;
    width: 75px; 
    height: 75px;
    top: -50px;
    margin-left: 1170px;
    margin-bottom: -300px; 
}

.interactiveMapEvent{
    height: 401px; 
    width: 750px; 
    position: relative;
    top: -945px;
    float: right;
}