.container {
    position: relative;
    width:100%;
    min-width:1000px;
    height:auto;
}

html {
    scroll-behavior: smooth;
}

.img-Logo {
    width: 190px; 
    height: 55px;
    margin-top: 50px;
    margin-left: 9%; 
    visibility: visible;
}

.menuHamburguer {
    width: 30px;
    height: 25px;
    margin-top: 0px; 
    margin-left: 1020px;
    margin-bottom: 25px; 
}

.imgMain {
    position: relative;
    width: 100%;
    height: 350px;
    margin-top: 3%;
}

.imgMainText {
    position: absolute;
    width: 585px;
    height: 130px;
    top: 400px;
    left: 200px;
}

.botaoSM {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 205px;
    margin-top: 65px;
}

.setaScroll {
    position: relative;
    width: 28px;
    height: 35px;
    margin-left: 735px;
    margin-top: 180px;
}

.seccaoRio {
    position: relative;
    width: 1100px;
    height: 470px;
    margin-left: 185px;
    margin-top: 400px;
}

.viajaPelas{
    position: relative;
    width: 800px;
    height: 70px;
    margin-left: 320px;
    margin-top: 350px;
}

.viajaFoto{
    position: relative;
    width: 750px;
    height: 450px;
    margin-left: 130px;
    margin-top: 25px;
}

.sideImageLeft{
    position: absolute;
    width: 150px;
    height: 370px;
    margin-top: 65px;
    margin-left: 130px;
}

.leftArrow{
    position: relative;
    width: 50px;
    height: 40px;
    margin-bottom: 200px;
    margin-left: 160px;
}

.sideImageRight{
    position: absolute;
    width: 150px;
    height: 370px;
    margin-top: 65px;
    margin-left: 65px;
}

.rightArrow{
    position: relative;
    width: 50px;
    height: 40px;
    margin-bottom: 200px;
    margin-left: 145px;
}

.botaoVM{
    width: 200px;
    height: 50px;
    margin-top: 35px;
    margin-left: 620px;
}

.seccaoLoja{
    width: 1100px;
    height: 470px;
    margin-left: 185px;
    margin-top: 400px;
}

.backToTop{
    position: relative;
    width: 75px; 
    height: 75px;
    margin-top: 200px;
    margin-left: 1210px;
    margin-bottom: -250px; 
}

.rectangleFooter{
    position: absolute;
    width: 1520px;
    height: 250px;
    margin-top: 350px;
    margin-left: -10px;
}

.quemSomosText{
    position: relative;
    width: 150px;
    height: 100px;
    margin-left: 150px;
    margin-top: 420px
}

.eventosText{
    position: relative;
    width: 120px;
    height: 74px;
    margin-left: 100px;
    margin-bottom: 25px;
}

.galeriaText{
    position: relative;
    width: 95px;
    height: 95px;
    margin-left: 85px;
    margin-bottom: 5px;
}

.lojaText{
    position: relative;
    width: 95px;
    height: 95px;
    margin-left: 85px;
    margin-bottom: 5px;
}

.contactosText{
    position: relative;
    width: 115px;
    height: 70px;
    margin-left: 85px;
    margin-bottom: 31px;
}

.segueText{
    position: relative;
    width: 120px;
    height: 95px;
    margin-left: 85px;
    margin-bottom: 8px;
}

body{
    font-family: Arial, Arial, Helvetica, sans-serif;
}

.dropdown{
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #115c92;
    overflow-y: hidden;
    transition: 0.5s;
}

.dropdown-lists{
    position: flex;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 0px;
}

.dropdown a{
    padding: 5px; 
    text-decoration: none;
    font-size: 50px;
    display: block;
    transition: 0.3s;
    top: 10px;
    color: #fff;
}

.dropdown-lists a:hover, .dropdown-lists a:focus {
    color: whitesmoke;
    zoom: 125%;
}

.hamburguer{
    position: relative;
    color: #115c92;
    margin-left: 1020px;
    top: -17px;
    font-size: 35px;
    cursor: pointer;
}

.dropdown .buttonX{
    margin-left: 89.1%;
    margin-top: 3.7%;
    position: flex;
    font-size: 45px;
    color: #fff;
}

.imgLogin{
    position: relative;
    width: 95px;
    height: 42px;
    top: -590px;
    margin-left: 1100px;
}

.imgRegisto{
    position: relative;
    width: 107px;
    height: 42px;
    top: -658px;
    margin-left: 1200px;
}

@media screen and (max-height:600px) {
    .dropdown .buttonX {
        font-size: 45px;
    }
}

.img-WhiteLogo{
    position: relative;
    top: -60px;
    left: -522px;
    width: 190px; 
    height: 55px;
}

.menuText{
    position: relative;
    text-decoration: none;

}

.eventosMap{
    position: absolute;
    margin-top: 50px;
    width: 1510px;
    height: 425px;
}

.eventosOptions{
    position: relative;
    width: 560px;
    height: 423px; 
    margin-top: 52px;
    margin-bottom: 155px;
    margin-left: 195px;
}

.tituloEventoUm{
    position: relative;
    font-size: large;
    font-weight: bolder;
    color: #115c92;
    font-family: Arial, Helvetica, sans-serif;
    top: -560px;
    left: 230px;
}

.textoEventoUm{
    position: relative;
    font-size: 17px;
    color: #115c92;
    font-family: Arial, Helvetica, sans-serif;
    top: -570px;
    left: 230px;
}

.tituloEventoDois{
    position: relative;
    font-size: large;
    font-weight: bolder;
    color: #115c92;
    font-family: Arial, Helvetica, sans-serif;
    top: -520px;
    left: 230px;
}

.textoEventoDois{
    position: relative;
    font-size: 17px;
    color: #115c92;
    font-family: Arial, Helvetica, sans-serif;
    top: -530px;
    left: 230px;
}

.tituloEventoTres{
    position: relative;
    font-size: large;
    font-weight: bolder;
    color: #115c92;
    font-family: Arial, Helvetica, sans-serif;
    top: -480px;
    left: 230px;
}

.textoEventoTres{
    position: relative;
    font-size: 19px;
    color: #115c92;
    font-family: Arial, Helvetica, sans-serif;
    top: -490px;
    left: 230px;
}

.sugerirEvento{
    position: relative;
    width: 1100px;
    height: 470px;
    margin-left: 185px;
    margin-top: 0px;
}

.setaEventoUm{
    position: relative;
    width: 42px;
    height: 35px;
    top: -815px;
    margin-left: 670px;
}

.setaEventoDois{
    position: relative;
    width: 42px;
    height: 35px;
    top: -690px;
    left: -50px;
}

.setaEventoTres{
    position: relative;
    width: 42px;
    height: 35px;
    top: -560px;
    left: -100px;
}

.setaScrollEventos{
  position: relative;
  width: 28px;
  height: 35px;
  top: -390px;
  margin-left: 735px;
}

.eventoUmTitulo{
  position: relative;
  font-size: 35px;
  font-weight: bolder;
  color: #115c92;
  font-family: Arial, Helvetica, sans-serif;
  top: -580px;
  left: 230px;
}

.eventoUmInfoTitulo{
    position: relative;
    font-size: 21px;
    color: #115c92;
    font-family: Arial, Helvetica, sans-serif;
    top: -590px;
    left: 230px;
}

.eventoUmInfo{
    position: relative;
    font-size: 22px;
    color: #115c92;
    font-family: Arial;
    top: -575px;
    left: 230px;
    width: 500px;
}

.eventoDoisTitulo{
    position: relative;
    font-size: 35px;
    font-weight: bolder;
    color: #115c92;
    font-family: Arial, Helvetica, sans-serif;
    top: -580px;
    left: 230px;
}

.eventoDoisInfoTitulo{
    position: relative;
    font-size: 21px;
    color: #115c92;
    font-family: Arial, Helvetica, sans-serif;
    top: -590px;
    left: 230px;
}

.eventoDoisInfo{
    position: relative;
    font-size: 22px;
    color: #115c92;
    font-family: Arial;
    top: -575px;
    left: 230px;
}

.eventoTresTitulo{
    position: relative;
    font-size: 35px;
    font-weight: bolder;
    color: #115c92;
    font-family: Arial, Helvetica, sans-serif;
    top: -580px;
    left: 230px;
}

.eventoTresInfoTitulo{
    position: relative;
    font-size: 21px;
    color: #115c92;
    font-family: Arial, Helvetica, sans-serif;
    top: -590px;
    left: 230px;
}

.eventoTresInfo{
    position: relative;
    font-size: 22px;
    color: #115c92;
    font-family: Arial;
    top: -575px;
    left: 230px;
}

.contactosIMG{
    position: relative;
    width: 450px;
    height: 450px;
    margin-left: 870px;
    margin-top: 50px;
}

.textoContactos{
    position: relative;
    width: 500px;
    height: 115px;
    top: -415px;
    margin-left: 250px;
}

.infoContactos{
    position: relative;
    top: -375px;
    margin-left: 250px;
    color: #0f5d93;
    font-size: 25px;
}

.setaScrollContactos{
    position: relative;
    width: 28px;
    height: 35px;
    margin-left: 735px;
    top: -322px;
}

.textoContactar{
    position: relative;
    width: 500px;
    height: 110px;
    margin-left: 250px;
    top: -150px;
}

.formularioContacto{
    position: relative;
    width: 1000px;
    height: 335px;
    margin-left: 250px;
    top: -100px;
}

.botaoEnviar{
    position: relative;
    width: 200px;
    height: 50px;
    margin-left: 250px;
    top: -25px;
    margin-bottom: -10px;
}

.backToTopContactos{
    position: relative;
    width: 75px; 
    height: 75px;
    top: -50px;
    margin-left: 1170px;
    margin-bottom: -300px; 
}

.interactiveMapEvent{
    position: relative;
    height: 410px; 
    width: 750px; 
    top: -948px;
    margin-left: 751px;
}

.our_text_box_evento_details{
    position: relative;
    margin-top: -935px;
    margin-left: 750px;

    background-color: #0563af;
    color: white;
    padding: 12px;
    width: 150px;
    border: none;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    outline: none;
}

.login{
    position: relative; 
    margin-top: -545px;
    margin-left: 1100px;
}

.registo{
    position: relative; 
    margin-left: 1250px;
}



.button {   
    background-color: #f9b538;   
    width: 100%;  
    color: #f9b538;   
    padding: 15px;   
    margin: 10px 0px;   
    border: none;   
    cursor: pointer; 
}   

.form {   
    border: 3px solid #f9b538;   
}   
   
input[type=text], input[type=password] {   
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid #f9b538;   
    box-sizing: border-box;   
}  
   
.button:hover {   
    opacity: 0.7;   
}  

.cancelbtn {   
    width: auto;   
    padding: 10px 18px;  
    margin: 10px 5px;  
}   
          
.container {   
    position: relative;
    width: 100px;
    margin-left: 210px;
    border: 3px solid #f9b538;
    padding: 25px;   
    background-color: #0f5d93;  
}   

.imgDashboard{
    position: relative;
    width: 150px;
    height: 45px;
    top: -592px;
    margin-left: 1165px;
}

.imgLogout{
    position: relative;
    width: 38px;
    height: 35px;
    top: -652px;
    margin-left: 1097px;
}



/*Registo de Conta*/

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.intro {
  background: #fff;
  padding: 60px 30px;
  color: #333;
  margin-bottom: 15px;
  line-height: 1.5;
  text-align: center;
}
.intro h1 {
  font-size: 18pt;
  padding-bottom: 15px;
}
.intro p {
  font-size: 14px;
}

.action {
  text-align: center;
  display: block;
  margin-top: 20px;
}

a.btn {
  text-decoration: none;
  color: #666;
  border: 2px solid #666;
  padding: 10px 15px;
  display: inline-block;
  margin-left: 5px;
}
a.btn:hover {
  background: #666;
  color: #fff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
.btn:before {
  font-family: FontAwesome;
  font-weight: normal;
  margin-right: 10px;
}
.github:before {
  content: "\f09b";
}
.down:before {
  content: "\f019";
}
.back:before {
  content: "\f112";
}
.credit {
  background: #fff;
  padding: 12px;
  font-size: 9pt;
  text-align: center;
  color: #333;
  margin-top: 40px;
}
.credit span:before {
  font-family: FontAwesome;
  color: #e41b17;
  content: "\f004";
}
.credit a {
  color: #333;
  text-decoration: none;
}
.credit a:hover {
  color: #1dbf73;
}
.credit a:hover:after {
  font-family: FontAwesome;
  content: "\f08e";
  font-size: 9pt;
  position: absolute;
  margin: 3px;
}
main {
  padding: 20px;
}

article li {
  color: #444;
  font-size: 15px;
  margin-left: 33px;
  line-height: 1.5;
  padding: 5px;
}
article h1,
article h2,
article h3,
article h4,
article p {
  padding: 14px;
  color: #333;
}
article p {
  font-size: 15px;
  line-height: 1.5;
}

@media only screen and (min-width: 720px) {
  main {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
  }
}

.set-overlayer,
.set-glass,
.set-sticky {
  cursor: pointer;
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
  color: #333;
  font-size: 16px;
}
.set-overlayer:after,
.set-glass:after,
.to-active:after,
.set-sticky:after {
  font-family: FontAwesome;
  font-size: 18pt;
  position: relative;
  float: right;
}
.set-overlayer:after,
.set-glass:after,
.set-sticky:after {
  content: "\f204";
  transition: 0.6s;
}

.to-active:after {
  content: "\f205";
  color: #008080;
  transition: 0.6s;
}
.set-overlayer,
.set-glass,
.set-sticky,
.source,
.theme-tray {
  margin: 10px;
  background: #f2f2f2;
  border-radius: 5px;
  border: 2px solid #f1f1f1;
  box-sizing: border-box;
}
/* Syntax Highlighter*/

pre.prettyprint {
  padding: 15px !important;
  margin: 10px;
  border: 0 !important;
  background: #f2f2f2;
  overflow: auto;
}

.source {
  white-space: pre;
  overflow: auto;
  max-height: 400px;
}
code {
  border: 1px solid #ddd;
  padding: 2px;
  border-radius: 2px;
}

.root {
  --succes-color: #2ecc71;
  --error-color: #e74c3c;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: var(--succes-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}
.form button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
}


div.radio-wrapper {
  text-align: center;
  font-size: 0.8em;
  font-weight: bolder;
  color: black;
}

div.radio-container {
  background-color: white;
  display: inline-block;
  border: 3px solid #f9b538;
}

div.radio-container input[type=radio] {
  opacity: 0;
  display: none;
  margin: 0;
  outline: none;
}

div.radio-container input[type="radio"]:checked+label {
  background-color: #f9b538;
  color: white;
  animation-name: radio-active;
  animation-duration: 0.2s;
}

@keyframes radio-active {
  from {
      transform: scale(0.6, 0.6);
  }
  to {
      transform: scale(1, 1);
  }
}

div.radio-container label {
  padding: 0.8em;
  cursor: pointer;
  background: none;
  display: inline-block;
  outline: none;
  letter-spacing: 0.1em;
  background-color: white;
  color: black;
  transition: all ease-in-out 0.1s;
}

/*Fim do Registo de Conta*/

.artigoFoto{
  position: relative;
  width: 700px;
  height: 404px;
  margin-left: 799px;
  top: -424px;
}

.artigoFotoDetails{
  position: absolute;
  width: 700px;
  height: 404px;
  margin-left: 799px;
  top: 182px;
}

.artigoUmTitulo{
    position: relative;
    font-size: 35px;
    font-weight: bolder;
    color: #115c92;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
    margin-top: 120px;
}

.artigoUmInfo{
    position: relative;
    font-size: 21px;
    color: #115c92;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
    margin-top: -27px;
}

.artigoDoisTitulo{
  position: relative;
  font-size: 35px;
  font-weight: bolder;
  color: #115c92;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 40px;
  margin-top: 60px;
}

.artigoDoisInfo{
  position: relative;
  font-size: 21px;
  color: #115c92;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 40px;
  margin-top: -27px;
}

.artigoTresTitulo{
  position: relative;
  font-size: 35px;
  font-weight: bolder;
  color: #115c92;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 40px;
  margin-top: 60px;
}

.artigoTresInfo{
  position: relative;
  font-size: 21px;
  color: #115c92;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 40px;
  margin-top: -27px;
}

.setaArtigoUm{
  position: relative;
  width: 42px;
  height: 35px;
  margin-left: 670px;
  top: -340px;
}

.setaArtigoDois{
  position: relative;
  width: 42px;
  height: 35px;
  margin-left: -46px;
  top: -208px;
}

.setaArtigoTres{
  position: relative;
  width: 42px;
  height: 35px;
  margin-left: -46px;
  top: -80px;
}

.artigosBorder{
  position: absolute;
  margin-top: 85px;
  width: 1510px;
  height: 425px;
}

.artigoTitleDetails{
  position: relative;
  font-size: 35px;
  font-weight: bolder;
  color: #115c92;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 40px;
  margin-top: 100px;
}

.artigoSubtitleDetails{
  position: absolute;
  font-size: 27px;
  font-weight: 100;
  color: #115c92;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -20px;
  margin-left: 40px;
  width: 500px;
}

.artigoInfoDetails{
  position: absolute;
  font-size: 21px;
  color: #115c92;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 235px;
  margin-left: 40px;
  width: 500px;
}

.btnLogin{
  width: 80px;
  height: 40px;
  font-size: medium;
  font-weight: 100;
}